:root {
  --grey: #494C4E;
  --blue: #0E7CF3;
  --orange: #f6ac00;
  --black: #272727;
  --light-grey: #EDEBE9;
}

.blue {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 700;
}

html {
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  font-weight: 600;
  color: var(--grey);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  border: 8px solid var(--grey);
}

p {
  margin-bottom: 1.5em;
  font-weight: initial;
  line-height: 30px;
}

li {
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2em;
  line-height: 1em;
}

h3 {
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
}

.skills h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blue);
}

a {
  color: var(--grey);
  text-decoration: none;
}

i {
  color: var(--blue);
  font-weight: initial;
  font-size: 2rem;
}

/* Header */

header {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-container {
  padding: 2em;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 16px;
  width: 60px;
  height: 60px;
  border: 3px solid var(--grey);
  font-size: 20px;
  transition: transform .2s;
}

.site-logo:hover {
  transform: scale(1.1);
}

.nav-right {
  display: flex;
}

.nav-item {
  padding: 0;
  padding-right: 20px;
  list-style: none;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-item:not(:first-child) {
  margin-left: 1rem;
}

.nav-item a:hover {
  border-bottom: 2px solid var(--blue);
}

/* Main content */ 

.wrapper {
  max-width: 850px;
  margin: 0 auto;
}

.wrapper-wide {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 890px;
  margin: 0 auto;
}

.main-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 4em;
}

.padding {
  padding-right: 2em;
  padding-left: 2em;
}

.image {
  max-width: 1280px;
  margin: 0 auto;
}

/* About section */

.about {
  padding-bottom: 50px;
}

.about .far {
  font-size: 20px;
  padding-right: 5px;
}

/* Project section */

.project-detail {
  font-weight: initial;
  display: flex;
}

.projects .first {
  padding-bottom: 50px;
}

.reverse-flex {
  position: relative;
  flex-direction: row-reverse;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-top: 2px dotted var(--grey); */
}

/* .reverse-flex::before {
  display: block;
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  top: -1.2%;
  right: 70%;
  border-top: 5px solid #fff;
}

.reverse-flex::after {
  display: block;
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  top: -1.2%;
  right: 0%;
  border-top: 5px solid #fff;
} */

.reverse-flex .project-img-wrapper {
  padding-left: 0;
  padding-right: 35px;
}

.project-img-wrapper {
  align-self: center;
  padding-left: 25px;
  /* background-color: var(--light-grey); */
}

.project-img-wrapper img {
  max-width: 350px;
}

.read-more {
  padding-top: 10px;
}

.btn-wrapper {
  padding-bottom: 80px;
  transition: transform .2s;
  display: flex;
  justify-content: center;
}

.zoom {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  background: none;
	border: 1px solid var(--blue);
	padding: 10px 20px;
	cursor: pointer;
  transition: transform .2s;
  width: fit-content;
}

.zoom:hover {
  transform: scale(1.05);
}

.btn-wrapper .fas {
  font-size: 15px;
  padding-left: 5px;
}

/* Skills Section */

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  font-weight: 400;
}

.skills-wrapper div {
  max-width: 350px;
  padding-bottom: 20px;
}

.padding-right {
  padding-right: 20px;
}

/* Contact Section */

.contact {
  font-weight: 400;
}

.links {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: column wrap;
  max-height: 150px;
}

.links li {
  padding-bottom: 15px;
}

.links .fas, .links .fab {
  font-size: 22px;
  padding-right: 5px;
}

/* footer */
footer {
  font-size: 11px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Projects Page */
.projects-page {
  font-weight: 400;
}

.projects-page a {
  font-weight: 600;
}

.projects-page h4 a {
  color: var(--blue);
}

.projects-heading {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 50px;
}

.project-page-img-wrapper {
  background-color: var(--light-grey);
  padding: 3em;
  display: flex;
  margin-bottom: 80px;
  margin-top: 20px;
  justify-content: center;
}

.project-page-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 590px;
}

.project-page-img-wrapper img:nth-child(2) {
  padding-left: 10px;
}

.fa-link {
  font-size: 15px;
  padding-right: 5px;
}

.fa-github {
  font-size: 18px;
  padding-right: 5px;
}

.project-list-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.tech-used {
  max-width: 300px;
}

.description {
  max-width: 500px;
}



@media (max-width: 1400px) {
  .project-page-img-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .project-page-img-wrapper img:nth-child(2) {
    padding-left: 0;
    padding-top: 15px;
  }
}

@media (max-width: 800px) {
  .project-list-wrapper {
    flex-direction: column;
  }
  .tech-used {
    max-width: initial;
  }
  
  .description {
    max-width: initial;
  }
}

@media (max-width: 740px) {
  .project-detail {
    flex-direction: column;
  }
  .reverse-flex {
    flex-direction: column;
    padding-top: 0;
  }
  .project-img-wrapper {
    padding-left: 0;
    padding-right: 0 !important;
    padding-top: 20px;
  }
}

@media (max-width: 650px) {
  .links {
    max-height: 600px;
  }
  .nav-right {
    padding-left: 0;
    flex-flow: column wrap;
    max-height: 60px;
    width: 160px;
  }
  .nav-item {
    margin-left: 0 !important;
  }
  .project-page-img-wrapper {
    padding: 1.5em;
  }
}
